extends ../layout

block content
   .container.px-4.px-lg-5.mt-5.mb-5
        .row.gx-4.gx-lg-5
          .col-md-4.mb-3.mb-md-0
            .card.py-4.h-100
              .card-body.text-center
                i.fas.fa-map-marked-alt.text-primary.mb-2
                h4.text-uppercase.m-0 Address
                hr.my-4.mx-auto
                .small.text-black-50 4923 Market Street, Orlando FL
          .col-md-4.mb-3.mb-md-0
            .card.py-4.h-100
              .card-body.text-center
                i.fas.fa-envelope.text-primary.mb-2
                h4.text-uppercase.m-0 Email
                hr.my-4.mx-auto
                .small.text-black-50
                  a(href='#!') hello@yourdomain.com
          .col-md-4.mb-3.mb-md-0
            .card.py-4.h-100
              .card-body.text-center
                i.fas.fa-mobile-alt.text-primary.mb-2
                h4.text-uppercase.m-0 Phone
                hr.my-4.mx-auto
                .small.text-black-50 +1 (555) 902-8832