node_modules
dist

database/*.db
database/*.db-journal
configs/db/dbml
configs/db/generated

uploads
app/assets/javascripts/generated
.env
.rails_console_history
render.yaml

yarn-error.log

/generated/prisma
