node_modules
dist
debug

database/*.db
database/*.db-journal
app/models/dbml/
app/models/generated/
configs/db/dbml/
**/*.dbml

app/assets/generated
app/assets/javascripts/generated

uploads
.env
.rails_console_history
render.yaml
netlify/.runtime-secrets.json
netlify/functions/.runtime-secrets.json

yarn-error.log

# IDE Files
.vscode/
.idea/
*.swp
*.swo
