extends ../layout

block content
  section.bg-light
    .container
      form(method='POST' action='/' enctype='multipart/form-data')
        .form-group
          label(for='exampleFormControlFile1') Example file input
          input#exampleFormControlFile1.form-control-file(type='file' name='myFile')
        .form-group
          label(for='formGroupExampleInput') Example label
          input#formGroupExampleInput.form-control(type='text' name='a' placeholder='Example input placeholder')
        .form-group
          label(for='formGroupExampleInput2') Another label
          input#formGroupExampleInput2.form-control(type='text' name='b' placeholder='Another input placeholder')
        <button type="submit" class="btn btn-primary">Sign in</button>
