footer.footer.py-4
  .container
    .row.align-items-center
      .col-lg-4.text-lg-start Copyright &copy; Your Website 2023
      .col-lg-4.my-3.my-lg-0
        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
          i.fab.fa-twitter
        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
          i.fab.fa-facebook-f
        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
          i.fab.fa-linkedin-in
      .col-lg-4.text-lg-end
        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
        a.link-dark.text-decoration-none(href='#!') Terms of Use