extends ../layouts/auth/layout

block content
  .row
    .col-lg-6.d-none.d-lg-block.bg-login-image
    .col-lg-6
      .p-5
        .text-center
          h1.h4.text-gray-900.mb-4 Welcome Back!
        form.user(action='/auth' method='POST')
          .form-group
            input#email.form-control.form-control-user(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter Email Address')
          .form-group
            input#password.form-control.form-control-user(type='password' name='password' placeholder='Password')
          input.btn.btn-primary.btn-user.btn-block(type='submit' value='Login')
          hr
          a.btn.btn-google.btn-user.btn-block(href='/auth/google')
            i.fa.fa-google.fa-fw
            |  Login with Google
          //- a.btn.btn-facebook.btn-user.btn-block(href='index.html')
          //-   i.fa.fa-facebook-f.fa-fw
          //-   |  Login with Facebook
        hr
        .text-center
          a.small(href='forgot-password.html') Forgot Password?
        .text-center
          a.small(href='register.html') Create an Account!
