extends ../layouts/auth/layout

block content
  .row
    .col-lg-6.d-none.d-lg-block
      img.img-fluid(src='/images/img/login.png')
    .col-lg-6
      .p-5
        .text-center
          h1.h4.text-gray-900.mb-4 Change your password
        form.user(action=`/auth` method='POST')
          .form-group
            input#email.form-control.form-control-user(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter Email Address')
          input.btn.btn-primary.btn-user.btn-block(type='submit' value='Change password')
