ul#accordion-sidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/admin')
    .sidebar-brand-icon
      | Irwin
    .sidebar-brand-text.mx-1
      | Framework

  hr.sidebar-divider.my-0

  li.nav-item
    a.nav-link(href='/')
      i.fa.fa-fw.fa-home
      span Web App

  hr.sidebar-divider
  
  .sidebar-heading
    | Administration Management
  li.nav-item.active
    a.nav-link(href='/admin/users')
      i.fa.fa-fw.fa-users
      span Account Management
  li.nav-item
    a.nav-link(href='/admin/users')
      i.fa.fa-fw.fa-cog
      span Roles & Permissions

  - if (process.env.NODE_ENV === 'development')
    hr.sidebar-divider.my-0
    // Nav Item - Dev Collapse Menu
    li.nav-item
      a.nav-link.collapsed(role='button' href='#' data-bs-toggle='collapse' data-bs-target='#collapseDev' aria-expanded='true' aria-controls='collapseDev')
        i.fa.fa-fw.fa-wrench
        span Dev
      #collapseDev.collapse(aria-labelledby='headingDev' data-parent='#accordion-sidebar')
        .bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Development Tools:
          a.collapse-item(href='/dev') UI Utilities

  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
