doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container.px-4.px-lg-5
        a.navbar-brand(href='#page-top') Welcome to Class
        button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='/introduce') Introduce
            li.nav-item
              a.nav-link(href='/courses') Courses
            li.nav-item
              a.nav-link(href='/contact') Contact
    header.masthead
      .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
        .d-flex.justify-content-center
          .text-center
            h1.mx-auto.my-0.text-uppercase SAT CLASS
            h2.text-white-50.mx-auto.mt-2.mb-5 Welcome to us
            a.btn.btn-primary(href='') Discover
    
      
    #app
      block content
      section.contact-section.bg-black
        .social.d-flex.justify-content-center
          a.mx-2(href='#!')
            i.fab.fa-twitter
          a.mx-2(href='#!')
            i.fab.fa-facebook-f
          a.mx-2(href='#!')
            i.fab.fa-github
        footer.footer.bg-black.small.text-center.text-white-50
          .container.px-4.px-lg-5 Copyright &copy; Your Website 2023
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/jquery.min.js")
    script(type="text/javascript" src="/js/vue.min.js")
    script(type="text/javascript" src="/javascripts/generated/bundle.js")
    script(type="text/javascript" src="/javascripts/main.js")

