doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/utilities.css")
    link(rel="stylesheet" href="/stylesheets/authLayout/style.css")
  body
    include ../utilities/flash
    #app.bg-main
      .container
        .row.justify-content-center
          .col-xl-10.col-lg-12.col-md-9
            .card.o-hidden.border-0.shadow-lg.my-5
              .card-body.p-0
                block content

    script(type="text/javascript" src="/js/popper.min.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/jquery.min.js")
